<div class="sidebar-left">
	<div id="main-menu">
		<div class="uk-margin-medium-top uk-margin-large-bottom">
				<ul class="uk-list">
					{{#audivisuals}}
					<li id='button-{{name}}' state={{state}} class="option uk-margin">
						<a><img data-src="images/{{name}}.png" alt="{{name}}" uk-img></a>
					</li>
					{{/audivisuals}}
				</ul>
			</div>

		<div class="uk-margin-medium-top uk-margin-large-bottom">
			<ul class="uk-list">
				{{#metrics}}
				<li id='button-{{name}}' state={{state}} class="option uk-margin">
					<a><img data-src="images/{{name}}.png" alt="{{name}}" uk-img></a>
				</li>
				{{/metrics}}
			</ul>
		</div>

		<div class="uk-margin-medium-top uk-margin-medium-bottom">
			<ul class="uk-list">
				{{#effects}}
				<li id='button-{{name}}' state={{state}} class="option uk-margin">
					<a><img data-src="images/{{name}}.png" alt="{{name}}" uk-img></a>
				</li>
				{{/effects}}
			</ul>
		</div>
	</div>
</div>