<div class="video-background">
    <div class="video-foreground">
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/zC30BYR3CUk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe> -->
        <div id="player"></div>
    </div>
</div>
    
<div class="uk-section uk-section-xsmall tm-main">
    <div class="uk-container uk-container-expand">
        <div id='vis'></div>
    </div>
</div>